NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_CHAIN_ID=42220
NEXT_PUBLIC_GOODDOLLAR_TOKEN_ADDRESS=
NEXT_PUBLIC_GOODLEARN_EXAM_ADDRESS=
NEXT_PUBLIC_GOODLEARN_EXAM_DEPLOY_BLOCK=0
NEXT_PUBLIC_CELO_RPC_URL=https://forno.celo.org
NEXT_PUBLIC_GOODLEARN_REWARD_POOL_ADDRESS=
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_GOODDOLLAR_IDENTITY_ENV=production

RPC_URL=
DEPLOYER_PRIVATE_KEY=
